
<section class="py-5 text-center container"> <img width="100%" height="100%" src="https://ak-d.tripcdn.com/images/01042120008wvwwu5269D.jpg">
    <div class="row py-lg-5" >
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Events in Hyde Park </h1>
        <p class="lead text-muted"> See what your fellow classmates are doing! </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @list_of_events.each do |an_event| %>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false"> <img width="100%" height="100%" src="<%= an_event.image %>"></svg>

              <div class="card-body">
                <p class="card-text"><%= an_event.title %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <form action="/events/<%= an_event.id %>" method="get" >
                      <button type="submit" onclick="/events/<%= an_event.id %>" class="btn btn-sm btn-outline-secondary">More details</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
